.formControl {
    width: 30%;
    margin-bottom: 30px !important;
    /* background-color: red !important; */
    color:white !important;
}

.nativeSelect {
    color:white !important;
}

@media (max-width:770px) {
    .formControl {
        width: 100%;
        margin-bottom: 30px !important;
        margin-top: -20px !important;
    }
}