/*Important to use module.css so that it doesn't apply it everywhere*/

.container {
    margin: 50px 0; 
}

.card {
    /* Need to do it if inline styles are not being used*/
    margin: 0 0px !important;
} 

.infected {
    border-bottom: 10px solid rgba(255, 0, 0, 0.5);
}

.active {
    border-bottom: 10px solid rgba(0, 0, 255, 0.5);
}

.recovered {
    border-bottom: 10px solid rgba(0, 255, 0, 0.5);
}

.deaths {
    border-bottom: 10px solid rgba(0, 0, 0, 0.5);
}

@media(max-width: 770px) {
    .card{
        margin: 2% 0 !important;
    }
}