/*Important to use module.css so that it doesn't apply it everywhere*/

.container {
    margin: 50px 0; 
} 

.card {
     /* Need to do it if inline styles are not being used */
    margin: 0 0px !important;
    background-color:rgb(23, 20, 38) !important; 
    width: 20vw;
} 

.secondary {
    color: rgb(107, 117, 126)
}

.infected {
    border-top: 10px solid rgb(255, 7, 58);
    color: rgb(255, 7, 58) !important;
}

.active {
    border-top: 10px solid rgb(45, 176, 246);
    color: rgb(45, 176, 246) !important;
}

.recovered {
    border-top: 10px solid rgb(0,176,72);
    color: rgb(0,176,72) !important;
}

.deaths {
    border-top: 10px solid rgba(107, 117, 126);
    color: rgb(107, 117, 126) !important;
}

@media(max-width: 770px) {
    .card{
        margin: 2% 0 !important;
    }
}