body {
    background-color: rgb(23, 20, 38);
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

h1 {
    color: white;
    font-size: 7vh;
}

@media (max-width: 770px) {
    .container{
        margin: 0 10%;
    }

    h1 {
        font-size: 2em;
        margin-top: 10px;
        margin-bottom: 5vh;
    }
}

